
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.hero{
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,#40174d,#7b62be);
}

#calendar{
    margin-top: 5%;
    margin-bottom: 5%;
}
