@tailwind base;
@tailwind components;
@tailwind utilities;
#table_create{
    margin: auto; 
}
table{
    width: 1000px;
}
@media (max-width: 345px) {
    #create_book{
        overflow-y: auto;
    }
}

@media (max-width: 640px) {

}
@media (max-width: 768px) {
    #table_create{
        margin-left: 20%;
        margin-top: 5%;
    }
    #create_book{
        margin: 0px;
        margin-top: 100px;
    }
}
@media (max-width: 1024px) {
    #table_create{
        margin-left: -20px;
    }
}
@media (max-width: 1536px) {

}
@media (max-width: 1256px) {
    #table_create{
        margin-left: 10%;
    }
}