@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{

}
#profile{
    margin-top: 30px;
    margin-left: 550px;
    font-size: x-large;
}
.wrapper{
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
}

#Centered{
 width: 100%;
 margin-left: 10%;
 margin-right: 10%;
}
@media (max-width: 768px) {
    #Centered{
        margin-left: 0%;
    }
}
.wrapper .left {
    width: 100%;
    background: linear-gradient(to right, #90bee9, #49b6f5);
    padding: 30px 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    color: #fff;
}

.wrapper .left img{
    margin-bottom: 10px;
    border-radius: 5px;
}

.wrapper .left h4{
    font-size: x-large;
    margin-bottom: 10px;
}

.wrapper .left p{
    font-size: 18px;
}

.wrapper .right{
    width: 65%;
    background: rgb(246, 253, 255);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 30px 25px;
    width: 100%;
}

.wrapper .right .info,
.wrapper .right .about{
    margin-bottom: 25px;
}

.wrapper .right .Information h3,
.wrapper .right .AboutMe h3,
.wrapper .right .column3 h3,
.wrapper .right .column4 h3{
    margin-bottom: 15px;
    padding: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.wrapper .right .info_data,
.wrapper .right .about_data,
.wrapper .right .column_data,
.wrapper .right .four_data{
    display: flex;
    justify-content: space-between;
}

.wrapper .right .info_data .data,
.wrapper .right .about_data .data,
.wrapper .right .column_data .data,
.wrapper .right .four_data .data{
    width: 45%;
}

.wrapper .right .info_data .data h4,
.wrapper .right .about_data .data h4,
.wrapper .right .column_data .data h4
.wrapper .right .four_data .data h4{
    color: #353c4e;
    margin-bottom: 5px;
}

.wrapper .right .info_data .data p,
.wrapper .right .about_data .data p,
.wrapper .right .column_data .data p,
.wrapper .right .four_data .data p{
    font-size: 13px;
    margin-bottom: 10%;
    color: #919aa3;
}


tr {
    transition: all .2s ease-in;
    cursor: pointer;
}

th td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    width: 100%;
}

#header {
    background-color: #49b6f5;
    color: #fff;
}

h1 {
    font-weight: 600;
    text-align: center;
    background-color: #49b6f5;
    color: #fff;
    padding: 10px 0px;
}

tr:hover {
    background-color: #f5f5f5;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 768px) {
    table {
        width: 90%;
    }
}

tr {
    transition: all .2s ease-in;
    cursor: pointer;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#header {
    background-color: #49b6f5;
    color: #fff;
}

h1 {
    font-weight: 600;
    text-align: center;
    background-color: #49b6f5;
    color: #fff;
    padding: 10px 0px;
}

tr:hover {
    background-color: #f5f5f5;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1536px) {
    #profile{
        margin-left: 350px;
    }   
}

@media (max-width: 1230px) {
    #profile{
        margin-left: 150px;
    }   
}
@media (max-width: 1024px) {
    #profile{
        margin-left: 50px;
    }   
}

@media (max-width: 640px) {
    #profile_form{
        
    }
    #Centered{
        margin-left: 0%;
    }
    
    #profile{
        margin-left: 0px;
    }   
    #submit_form{
        font-size: x-small;
        
    }
    input{
        margin-right: 10%;
    }
}

@media (max-width: 768px) {
    #profile_form{
        
    }
    #profile{
        margin-left: 0px;
    }   
}
@media (max-width: 400px) {
    input{
    width: 50%;
    }
    #birth_date{
        margin-left: 13%;
        width: 50%;
    }
    #status{
    }
}   