@media (max-width: 640px) {

}
@media (max-width: 768px) {
    #form_position{
        margin-left: 10%;
    }
}
@media (max-width: 1536px) {
    #form_position{
        margin-left: 13%;
    }
}
@media (max-width: 1340px) {
    #form_position{
        margin-left: 10%;
    }
}
@media (max-width: 1320px) {
    #form_position{
        margin-left: 5%;
    }
}
@media (max-width: 1230px) {
    #form_position{
        margin-left: 3%;
        margin-right: 3%;
    }
}